main p {
    margin: 5px;
}

#final-score {
    font-weight: bold;
}

#error-message {
    color: rgb(219, 0, 44);
    font-style: italic;
    display: none;
}

.input-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#name-enter {
    height: 25px;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

#sumbit-button {
    border-radius: 5px;
}