.game-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

#question {
    text-align: left;
    font-size: 40px;
    margin-bottom: 10px;
}
.timer {
    font-size: 30px;
    font-weight: bold;
}

#time-left {
    font-weight: normal;
}

#choice-container {
    display: flex;
    flex-direction: column;
}

.indicator {
    color: rgb(143, 143, 143);
    font-style: italic;
    display: none;
}