/* style quiz container */
.quiz-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
/* style the question itself */
#question {
    text-align: left;
    font-size: 40px;
    margin: 10px;
}
/* make the timer text bold */
.timer {
    font-size: 30px;
    font-weight: bold;
}
/* make the actual time counter itself normal font-weight */
#time-left {
    font-weight: normal;
}
/* style the answers/options */
.choice-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
/* style the correct/incorrect indicator */
.indicator {
    color: rgb(143, 143, 143);
    font-style: italic;
    visibility: hidden;
}